/****HAMBURGER****/

#menu-btn + label:before {
  border: white;
}

#menu-btn + label:before {
  background-color: transparent;
  color: transparent;
  border: transparent;
}
.menu-icon {
  position: fixed;
  right: 10px;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.menu-icon_line {
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  height: 2px;
  width: 20px;
  border-radius: 4px;
  transition: background 0.8s ease;
}
.menu-icon_line::before,
.menu-icon_line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.8s ease;
}
.menu-icon_line::before {
  transform: translateY(-5px);
}
.menu-icon_line::after {
  transform: translateY(5px);
}
.menu-btn {
  display: none;
}

@media screen and (max-width: 480px) {
  .menu-icon {
    display: block;
  }

  .menu-icon_line {
    animation: closedMid 0.8s backwards;
    animation-direction: reverse;
  }
  .menu-icon_line::before {
    animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .menu-icon_line::after {
    animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  @keyframes closedTop {
    0% {
      transform: translateY(-5px) rotate(0deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(90deg);
    }
  }

  @keyframes closedMid {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  @keyframes closedBtm {
    0% {
      transform: translateY(5px) rotate(0deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(90deg);
    }
  }

  @keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  input[type='checkbox']:checked ~ #navbar {
    opacity: 1;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: 10;
    display: block; /*Edge*/
  }

  #navbar .navbar-nav .nav-link {
    opacity: 0;
    transform: translateX(200px);
    color: white;
  }
  input[type='checkbox']:checked ~ #navbar .navbar-nav .nav-link {
    opacity: 1;
    transform: translateX(0px);
    transition:
      opacity 0.5s ease-in-out,
      transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  input[type='checkbox']:checked
    ~ #navbar
    .navbar-nav
    .nav-link:nth-of-type(1) {
    transition-delay: 1s;
  }
  input[type='checkbox']:checked
    ~ #navbar
    .navbar-nav
    .nav-link:nth-of-type(2) {
    transition-delay: 1.2s;
  }
  input[type='checkbox']:checked
    ~ #navbar
    .navbar-nav
    .nav-link:nth-of-type(3) {
    transition-delay: 1.3s;
  }
  input[type='checkbox']:checked
    ~ #navbar
    .navbar-nav
    .nav-link:nth-of-type(4) {
    transition-delay: 1.4s;
  }
  .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    animation: pulse 1s;
  }

  @keyframes pulse {
    from {
      box-shadow: 0 0 0 0px rgba(34, 185, 255, 0.6);
      background: rgba(34, 240, 255, 0.6);
    }
    to {
      box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
      background: rgba(255, 255, 255, 0);
    }
  }
  .menu-btn:checked ~ .menu-icon .menu-icon_line {
    background: #fff;
    animation: openMid 2s forwards;
  }
  .menu-btn:checked ~ .menu-icon .menu-icon_line::before {
    background: #fff;
    animation: openTop 2s forwards;
  }
  .menu-btn:checked ~ .menu-icon .menu-icon_line::after {
    background: #fff;
    animation: openBtm 2s forwards;
  }
  @keyframes openTop {
    0% {
      transform: translateY(-5px) rotate(0deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(90deg);
    }
  }
  @keyframes openMid {
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  @keyframes openBtm {
    0% {
      transform: translateY(5px) rotate(0deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    100% {
      transform: translateY(0px) rotate(90deg);
    }
  }
}
